*
{
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}
.head {
    text-align: center;
    height: 70px;
    background: black;
    color: white;
}
.head p {
    font-size: 30px;
    padding: 15px;
}
.img-container img {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 1px soft transparent;
}
.body {
    padding: 10px;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url('logo.jpg.png');
    background-size: cover;
}
.body p {
    margin: 10px;
    color: white;
    opacity: 75%;
}

/*responsive*/
@media(max-width:767px){
    *
    {
        padding: 0;
        margin: 0;
        height: auto;
        width: auto;
    }
    .head {
        text-align: center;
        height: 38px;
        background: black;
        color: white;
    }
    .head p {
        font-size: 15px;
        padding: 8px;
    }
    .img-container img {
        box-sizing: border-box;
        width: 120px;
        height: 120px;
    }
    .body {
        padding: 10px;
        display: flex;
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url('logo.jpg.png');
        background-size: cover;
    }
    .body p {
        margin: 10px;
        color: white;
        opacity: 75%;
    }   
}